<!DOCTYPE html>
<html>
    <head>
        <title>Wifi</title>
        <script type="text/javascript">
            var props = process.env.NODE_ENV !== 'production' ? {} : {
                locale: <%= "\<%=locale%\>" %>,
                online: <%= "\<%=online ? 'true' : 'false'%\>" %>,
                networks: <%= "\<%-JSON.stringify(networks)%\>" %>
            };
        </script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
