<!DOCTYPE html>
<html>
    <head>
        <title>Wifi</title>
        <script type="text/javascript">
            <%= "\<% if (typeof fromServer !== 'undefined' && fromServer) { %\>" %>
            var props = {
                locale: <%= "\<%=locale%\>" %>,
                translations: <%= "\<%-JSON.stringify(translations)%\>" %>,
                online: <%= "\<%=online ? 'true' : 'false'%\>" %>,
                networks: <%= "\<%-JSON.stringify(networks)%\>" %>
            };
            <%= "\<% } %\>" %>
        </script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
